<nav class="navbar navbar-dark bg-dark ml-n1">
    <div class="container-fluid justify-content-start">
        <div class="col-md-9">
            <button type="button" class="btn btn-outline-primary" (click)="saveSettings()">Save</button>
        </div>
    </div>
</nav>

<div class="album py-5 bg-light" *ngIf="settings">
    <div class="container">
        <h2>Settings</h2>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="baseUrl" [(ngModel)]="settings.baseUrl">
            <label for="baseUrl">Base Url</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="apiKey" [(ngModel)]="settings.apiKey">
            <label for="apiKey">Api Key</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="host" [(ngModel)]="settings.host">
            <label for="host">Host</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="port" min="1" maxlength="5" [(ngModel)]="settings.port">
            <label for="port">Port</label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="useSsl" [(ngModel)]="settings.useSsl">
            <label class="form-check-label" for="useSsl">
                Use SSL
            </label>
        </div>
    </div>
</div>