<nav class="navbar navbar-dark bg-dark ml-n1">
    <div class="container-fluid justify-content-start">
        <div class="col-md-9">
            <button type="button" class="btn btn-outline-primary">Save</button>
        </div>
    </div>
</nav>

<div class="album py-5 bg-light">
    <div class="container">
        <h2>Settings</h2>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput">
            <label for="floatingInput">Base Url</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput">
            <label for="floatingInput">Api Key</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput">
            <label for="floatingInput">Host</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" min="1" maxlength="5">
            <label for="floatingInput">Port</label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
                Use SSL
            </label>
        </div>
    </div>
</div>