<tr class="" [ngClass]="isHidden ? 'd-none' : ''">
    <td class="col">{{movie.title}}</td>
    <td class="col">{{movie.year}}</td>
    <td class="col">{{movie.status}}</td>
    <td class="col">{{existStatus}}</td>
    <td class="col">
        <div class="btn-group">
            <a class="btn btn-outline-primary" [routerLink]="['/movies/', movie.id]" role="button">View</a>
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="scanMovie.emit(movie)">Scan</button>
            <button type="button" class="btn btn-sm btn-outline-primary">Mark Delete</button>
            <button type="button" class="btn btn-sm btn-outline-primary">Unmonitor</button>
        </div>
    </td>
</tr>